@mixin global-nav-menu {
	&__menu {
		display: flex;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		[data-whatinput='mouse'] & {
			outline: none;
		}
	}

	&__link {
		margin-bottom: 0;
	}
}

@mixin heading( $lvl: h1 h2 h3 h4 h5 h6 ) {
	$list-to-check: h1 h2 h3 h4 h5 h6;
	@if type-of( $lvl ) == string and contains( $list-to-check, $lvl ) {
		#{$lvl},
		.#{$lvl} {
			@content;
		}
	} @else if type-of( $lvl ) == list {
		@each $hd in $lvl {
			@if contains( $list-to-check, $hd ) {
				#{$hd},
				.#{$hd} {
					@content;
				}
			}
		}
	}
}
