.masthead {
	$self: &;
	position: absolute;
	top: 0;
	width: 100%;
	padding: rem-calc( 22 ) 0;
	transition: 0.2s all ease-in-out;
	background: #fff;
	z-index: 2;

	@include breakpoint( medium ) {
		position: fixed;
	}

	body.admin-bar & {
		top: 32px;
		@media screen and ( max-width: 782px ) {
			top: 46px;
		}
	}

	&--sticky {
		padding: rem-calc( 12 ) 0;
		box-shadow: 0 rem-calc( 6 ) rem-calc( 16 ) 0 rgba( $black, 0.125 );
	}

	&__hamburger {
		position: absolute;
		top: 50%;
		right: rem-calc( 15 );
		transform: translateY( -50% );

		@include breakpoint( medium ) {
			display: none;
		}
	}

	&__col--nav {
		@include breakpoint( medium ) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

