// Colors

$foundation-palette: (
	primary: #bd513e,
	secondary: #065db4,
	tertiary: #c6452e,
	success: #0fa0d4,
	warning: #86cde7,
	alert: #c6452e,
);
$tertiary-color: map-get( $foundation-palette, tertiary );
$black: #4a4a4a;
$black-dark: darken( $black, 10% );
$white: #fff;

$gray-100: lighten( $black, 66% );
$gray-200: lighten( $black, 59% );
$gray-300: lighten( $black, 52% );
$gray-400: lighten( $black, 45% );
$gray-500: lighten( $black, 38% );
$gray-600: lighten( $black, 31% );
$gray-700: lighten( $black, 24% );
$gray-800: lighten( $black, 17% );
$gray-900: lighten( $black, 10% );

$gray-dark: $gray-800;
$gray-medium: $gray-500;
$gray-light: $gray-200;

// Fonts and text styles
$font-family-mono: consolas, "Liberation Mono", courier, monospace;
$font-family-sans: "Work Sans", "Open Sans", "Helvetica Neue", helvetica, "Roboto", arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
