// Colors

$foundation-palette: (
	primary: #bd513e,
	secondary: #065db4,
	tertiary: #c6452e,
	success: #0fa0d4,
	warning: #86cde7,
	alert: #c6452e,
);
$tertiary-color: map-get( $foundation-palette, tertiary );
$black: #4a4a4a;
$black-dark: darken( $black, 10% );
$white: #fff;

$blue: map-get( $foundation-palette, secondary );
$blue-brighter: map-get( $foundation-palette, success );
$blue-brightest: map-get( $foundation-palette, warning );

$gray-100: lighten( $black, 66% );
$gray-200: lighten( $black, 59% );
$gray-300: lighten( $black, 52% );
$gray-400: lighten( $black, 45% );
$gray-500: lighten( $black, 38% );
$gray-600: lighten( $black, 31% );
$gray-700: lighten( $black, 24% );
$gray-800: lighten( $black, 17% );
$gray-900: lighten( $black, 10% );

$gray-dark: $gray-800;
$gray-medium: $gray-500;
$gray-light: $gray-200;

// Fonts and text styles
$font-family-mono: consolas, "Liberation Mono", courier, monospace;
$font-family-sans: "Work Sans", "Open Sans", "Helvetica Neue", helvetica, "Roboto", arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/// Foundation variables
$header-font-family: $font-family-sans;
$font-family-monospace: $font-family-mono;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-font-weight: $font-weight-light;
$blockquote-border: 0;
$blockquote-color: map-get( $foundation-palette, success );
$blockquote-padding: rem-calc( 9 0 0 );

$header-styles: (
	"small": (
		"h1": (
			"fs": 24,
			"lh": 1.2,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h2": (
			"fs": 20,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h3": (
			"fs": 19,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h4": (
			"fs": 16,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h5": (
			"fs": 16,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h6": (
			"fs": 15,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
	),
	"medium": (
		"h1": (
			"fs": 48,
			"lh": 1.2,
			"mt": 0,
			"mb": $header-margin-bottom * 1.5,
		),
		"h2": (
			"fs": 40,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h3": (
			"fs": 31,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h4": (
			"fs": 17,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h5": (
			"fs": 17,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
		"h6": (
			"fs": 15,
			"lh": $header-lineheight,
			"mt": 0,
			"mb": $header-margin-bottom,
		),
	),
	"large": (
		"h1": (
			"fs": 64,
			"mb": $header-margin-bottom * 3,
		),
	),
);
